<h1 class='title text-center mt-4'> ORGANIZARR </h1>
<p class='title text-end m-3'> {{name}} </p>

<ul class='nav navbar-dark bg-dark justify-content-center'>
  <li class='nav-item'>
    <button class='no-button' id='logout'>logout</button>
  </li>
  <li class='nav-item'>
    <a class='nav-link text-white' href='/dashboard'>Dashboard</a>
  </li>
</ul>

<h2 class='text-center mt-5'> UPCOMING STUDY GROUPS</h2>
<h3 class='text-center mb-5'>as of
  <h3 class='currentDate'></h3>
</h3>

{{#each studyGroups as |studyGroup|}}
  <div class='container col-7 mt-3 border' id='studyGroup'>

    <div class='row'>

      <div class='col-8'>

        <ul>
          <li class='my-3 p-2'>
          
            <strong>Date:</strong><span class='sgDate'> {{studyGroup.date}} </span>
          </li>
          <li class='my-3 p-2'>
            <strong>Time:</strong><span class='sgTime'> {{studyGroup.time}} </span>
          </li>
          <li class='my-3 p-2'>
            <strong>Subject:</strong><span class='sgWork'>
              {{subject.name}}
            </span>
          </li>
          <li class='my-3 p-2'>
            <strong>Studying Style:</strong><span class='sgStyle'>
              {{studyGroup.studyPreference}}
            </span>
          </li>
          <li class='my-3 p-2'>
            <strong>Meeting:</strong><span class='sgLink'>
              <a href={{studyGroup.url}} target="_blank"> Link </a>
            </span>
          </li>
        </ul>
      </div>

      <div class='col-3 text-center m-auto'>
        <h4> Click to RSVP </h4>
        <button type='submit' class='btn addNote'>
          <i class='fa fa-plus' style='font-size:45px;'></i>
        </button>
      </div>

    </div>

  </div>
{{/each}}

<script src='/js/logout.js'></script>